[defaults]
inventory = inventory
private_key_file = ~/.ssh/ansible

# Tắt cảnh báo fingerprint khi kết nối SSH lần đầu
host_key_checking = False

# Tắt các dòng cảnh báo về Python 3.12 (giúp màn hình sạch đẹp hơn)
interpreter_python = auto_silent

# Hiển thị thời gian chạy của mỗi Task
callbacks_enabled = timer, profile_tasks
